:root {
    --color-blue: rgb(0, 119, 255);
}
body {
    margin: 0;
}
div {
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}
input,
button {
    border: none;
    box-sizing: border-box;
    cursor: pointer;
}

.contact-list-wrap {
    margin: auto;
    width: calc(100% - 2rem);
    max-width: 1000px;
}
.header {
    text-align: center;
}
.main {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
/* ===== form ===== */
.contact-form-wrap {
    padding: 1rem;
    border: 1px solid;
    width: 40%;
    border-radius: 1rem;
}
.contact-form-wrap > * {
    margin-top: 0.7rem;
}

.contact-form-wrap > li {
    display: flex;
}
.contact-form-essential {
    flex-direction: column;
}

.contact-form-essential > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.contact-form-essential > p {
    padding: 0;
    margin: 0;
    margin-left: 30%;
    font-size: 0.8rem;
    color: red;
}
.contact-form-wrap label {
    width: 30%;
}
.contact-form-wrap input {
    border: 1px solid;
    width: 70%;
}
.contact-form-wrap > button {
    width: 100%;
    padding: 0.5rem 0;
    border-radius: 1rem;
    background-color: var(--color-blue);
}
/* ===== list ===== */
.saved-contact-list-wrap {
    width: 50%;
}
.saved-contact-list-wrap > form {
    margin: 1rem auto;
    width: 100%;
}
.saved-contact-list-wrap > form > input {
    width: 65%;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(220, 237, 255);
}
.saved-contact-list-wrap > form > button {
    width: 30%;
    padding: 0.8rem;
    border-radius: 1rem;
    color: white;
    background-color: rgb(0, 119, 255);
    float: right;
    cursor: pointer;
}
.saved-contact-list-wrap > form > button:hover {
    transition: 0.2s;
    background-color: rgb(91, 170, 255);
}
.saved-contact-list-wrap > form > button::after {
    clear: both;
}
.saved-contact-list > li {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(219, 219, 219);
}
.saved-contact-list > li > p:nth-of-type(1) > span {
    margin-right: 1rem;
}
.saved-contact-list > li > p:nth-of-type(2) > span {
    background-color: rgb(219, 219, 219);
    margin-left: 0.5rem;
    padding: 0.3rem 0.5rem;
    border: 1px solid;
}
.footer {
    height: 5rem;
}
@media (max-width: 768px) {
    .main {
        flex-direction: column;
    }
    .contact-form-wrap {
        width: auto;
    }
    .saved-contact-list-wrap {
        width: auto;
    }
}
